@import 'tailwindcss';
@plugin '@tailwindcss/typography';

@theme inline {
  --font-serif: var(--font-kaisei);
}

::selection {
  background-color: #47a3f3;
  color: #fefefe;
}

body {
  overflow-wrap: break-word;
}

.prose .anchor {
  @apply ml-2 no-underline text-neutral-300 opacity-0 transition-opacity dark:text-neutral-700;
}

.prose :is(h2, h3, h4, h5, h6):hover > .anchor,
.prose .anchor:focus-visible {
  @apply opacity-100;
}

.prose .anchor:focus-visible {
  @apply rounded-sm outline-2 outline-offset-2 outline-blue-500;
}

.prose a {
  @apply decoration-neutral-400 underline-offset-2 decoration-[0.1em] transition-colors dark:decoration-neutral-600;
}

.prose pre {
  @apply overflow-x-auto border border-neutral-800 bg-neutral-900;
  scrollbar-color: #737373 #171717;
  scrollbar-width: thin;
}

.prose code {
  @apply rounded-lg border border-neutral-100 bg-neutral-100 px-1 py-0.5 text-neutral-800 dark:border-neutral-800 dark:bg-neutral-900 dark:text-neutral-200;
}

.prose pre code {
  @apply border-0 bg-transparent p-0 text-neutral-50;
}

.prose img {
  @apply m-0;
}

.prose > :first-child {
  margin-top: 1.25em !important;
}

.prose blockquote p:first-of-type::before,
.prose blockquote p:first-of-type::after {
  content: none;
}

input[type='text'],
input[type='email'] {
  appearance: none;
}

table {
  display: block;
  max-width: fit-content;
  overflow-x: auto;
  white-space: nowrap;
}

[data-rehype-pretty-code-figure] code {
  @apply grid min-w-full rounded-none border-0 bg-transparent p-0 text-sm;
  counter-reset: line;
  box-decoration-break: clone;
}

[data-rehype-pretty-code-figure] [data-line] {
  @apply px-4 py-1;
}

[data-rehype-pretty-code-figure] [data-line-numbers] > [data-line]::before {
  color: #737373;
  content: counter(line);
  counter-increment: line;
  display: inline-block;
  margin-right: 1rem;
  text-align: right;
  width: 1rem;
}

[data-rehype-pretty-code-figure] [data-highlighted-line] {
  @apply bg-slate-500/10;
}

[data-rehype-pretty-code-figure] [data-highlighted-chars] {
  @apply rounded-md bg-slate-500/10 p-1;
}

[data-rehype-pretty-code-title] {
  @apply rounded-t-lg border border-[#333333] bg-[#1c1c1c] px-4 py-3 font-mono text-xs font-medium text-neutral-200;
}

[data-rehype-pretty-code-title] + pre {
  @apply mt-0 rounded-t-none border-t-0;
}

@media (prefers-reduced-motion: reduce) {
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    scroll-behavior: auto !important;
    transition-duration: 0.01ms !important;
  }
}
